@import "styles/constants";

.promoBox {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px 100px;
  background-color: #454f5b;
  color: $whiteColor;
}

.promo {
  justify-self: center; /* Центрований елемент зліва */
}

.callback {
  justify-self: end; /* Правий елемент справа */
}
