@use "styles/colors" as *;
@use "styles/width" as *;

.wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  background-color: $lightSky;
}

.item {
  text-align: center;
  font-size: 14px;
  width: calc(50% - 16px);
  line-height: 34px;

  @include media(tablet) {
    width: auto;
  }

  & > p:first-child {
    font-size: 24px;
  }
}
