@use "styles/colors" as *;

.wrapper {
  text-align: center;
  margin: 0 15px;

  & > p {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
  }
}

.item {
  padding: 25px 30px;
  border-top: 1px solid $cloudGray;
  border-bottom: 1px solid $cloudGray;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  & > p {
    font-weight: 600;
    color: $steelGray;
  }
}

.image {
  width: 64px;
  margin-bottom: 15px;
}
